---
import Layout from "@layouts/Layout.astro";
import Header from "@components/common/Header.astro";
import Footer from "@components/common/Footer.astro";
import InnerInSection from "@components/common/InnerInSection.astro";
import { Picture, BackgroundImage, BackgroundPicture } from "astro-simple-art-direction";
import { getImage } from "astro:assets";

// import thumbnail from "@images/thumbnail.jpg";

// const ogpImage = await getImage({ src: thumbnail, format: "webp", width: 1200 });

interface Object {
  [key: string]: string;
}

const siteUrl: string = "https://example.jp/";
const name: string = "";
const description: string = "ページが見つかりません";
const title: string = name + " | ";

const meta: Object = {
  description: description,
  robots: "noindex",
};

const ogp: Object = {
  title: title,
  description: description,
  type: "website",
  // image: siteUrl + ogpImage.src,
  url: siteUrl + "/",
  site_name: title,
};
---

<Layout title={title} meta={meta} ogp={ogp}>
  <Header />
  <main id="main" class="">
  </main>
  <Footer class="bg-main-color-bg" />
</Layout>

<style is:global>
  svg {
    fill: currentColor;
  }
</style>