---
import Layout from "@layouts/Layout.astro";
import Header from "@components/common/Header.astro";
import Footer from "@components/common/Footer.astro";
import InnerInSection from "@components/common/InnerInSection.astro";
import { Picture, BackgroundImage, BackgroundPicture } from "astro-simple-art-direction";
import { getImage } from "astro:assets";

// import thumbnail from "@images/thumbnail.jpg";

// const ogpImage = await getImage({ src: thumbnail, format: "webp", width: 1200 });

const title: string = "ページが見つかりません" + " | " + __SITE_NAME__; // astro.config.mjsで定義したサイト名
const description: string = "";

const meta: Record<string, string> = {
  ...(description ? { description: description } : {}),
  robots: "noindex",
};

const ogp: OGP = {
  title: title,
  ...(description ? { description: description } : {}),
  // image: Astro.url.origin + ogpImage.src, // ogp画像のURL,
  url: Astro.url.href,
};
---

<Layout title={title} meta={meta} ogp={ogp}>
  <Header />
  <main id="main" class="">
  </main>
  <Footer class="bg-main-color-bg" />
</Layout>

<style is:global>
  svg {
    fill: currentColor;
  }
</style>