---
import Layout from "@layouts/Layout.astro";
import Header from "@components/common/Header.astro";
import Footer from "@components/common/Footer.astro";

import { url } from "@links";
import { classList } from "@classList";

import { Picture, BackgroundImage, BackgroundPicture } from "astro-simple-art-direction";

import { getImage } from "astro:assets";

// import thumbnail from "@images/thumbnail.jpg";

// const ogpImage = await getImage({ src: thumbnail, format: "webp", width: 1200 });

const description: string = "トップページです。";
const title: string = __SITE_NAME__;

const meta: Record<string, string> = {
  description: description,
};

const ogp: OGP = {
  title: title,
  ...(description ? { description: description } : {}),
  // image: Astro.url.origin + ogpImage.src, // ogp画像のURL,
  url: Astro.url.href,
};

---

<Layout title={title} meta={meta} ogp={ogp}>
  <Header />
  <main id="main">
    
  </main>
  <Footer class="" />
</Layout>

<style is:global></style>
